<!DOCTYPE html>
<html>
  <head>
    <title>@Page.Title</title>
    <link href="~/Styles/Style1.css" rel="stylesheet" type="text/css" />

      <meta charset="utf-8" />
        <title>dhtmlxScheduler</title>
        <script src="@Href("~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js")"></script>
	    <script src="@Href("~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_dhx_terrace.js")"></script>
	    <link href="@Href("~/Scripts/dhtmlxScheduler/dhtmlxscheduler_dhx_terrace.css")" type="text/css" rel="stylesheet">

        <style>
            html, body{
                height: 100%;
                margin: 0;
            }
        </style>
    
        <script type="text/javascript" charset="utf-8">
            function init() {
                scheduler.config.multi_day = true;
         
                scheduler.config.xml_date = "%Y-%m-%d %H:%i";
                scheduler.init('scheduler_here', new Date(2014, 3, 7), "month");

                scheduler.load("@Href("~/data.cshtml")");
                var dp = new dataProcessor("@Href("~/save.cshtml")");

                dp.init(scheduler);
                dp.setTransactionMode("POST", false);
            }
        </script>

     
  </head>
  <body onload="init();">

     
          @RenderBody()
       
   
     <div id="scheduler_here" class="dhx_cal_container" style='width:81%; height:80%;'>
      
           
		    <div class="dhx_cal_navline" >

			    <div class="dhx_cal_prev_button">&nbsp;</div>
			    <div class="dhx_cal_next_button">&nbsp;</div>
			    <div class="dhx_cal_today_button"></div>
			    <div class="dhx_cal_date"></div>
			    <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
			    <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
			    <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
		    </div>
		    <div class="dhx_cal_header">
		    </div>
		    <div class="dhx_cal_data">
		    </div>
</div>

  </body>
</html>