@{
   
 Page.Title = "Home Page";    
Layout = "~/_Layout.cshtml";

var theUserName = WebSecurity.CurrentUserName;

    DateTime startDate= DateTime.Now ;  
    DateTime endDate = DateTime.Now  ;
    var shortStartDate = startDate.ToString("dd-MMMM-yyyy");
    var shortEndDate = startDate.ToString("dd-MMMM-yyyy");
    var description= "";
    var theLeaveType="";
    var requestStatus ="";
    int inttotalDays=0;
    int updatedLeaveDays = 0;
    var ID = "";
    

    int annualLeaveDays = 0;


 if(WebSecurity.IsAuthenticated){


     <!-- Open a database connection-->
                                       
  var db = Database.Open("Annual Leave System");

  var dbCommand = "SELECT annualLeaveDays FROM UserProfile WHERE email = @0";
  var row = db.QuerySingle(dbCommand, theUserName);
  annualLeaveDays = row.annualLeaveDays;


 }

  

  <!-- Close  database connection------------------------------------------------------------------------>

  }







        <h1>Home Page</h1>
        

         
        <p>
           @if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Employee")){
      
               <p style="position: absolute;top: 50px;right: 270px;"  > Logged in as:<b>@theUserName</b> </p> 
        
                    <div id='cssmenu'>
                    <ul>
                         <li class='active'><a href="@Href("~/Home")"><span>Home</span></a></li>
                         <li class='active'><a href="@Href("~/requestform")"><span>Request Leave</span></a></li>
                         <li><a href="@Href("~/Logout")"><span>Logout</span></a></li>
                        
                     </ul>
                    </div>
                    <br>
                <p>You have<b style="font-size: x-large"> @annualLeaveDays</b>     annual leave days available</p>

                

                var db = Database.Open("Annual Leave System");

                //var dbCommand2 = "SELECT * FROM LeaveRequests WHERE email = @0 ORDER BY requestStatus DESC";
                var dbCommand2 ="SELECT *, CASE requestStatus WHEN 'pending' THEN 0 WHEN 'approved' THEN 1 WHEN 'rejected' THEN 2 END  AS requestStatusOrder FROM LeaveRequests WHERE email = @0 ORDER BY requestStatusOrder";
                var rows1 = db.Query(dbCommand2, theUserName);

                 
                

              // if(row2 != null) {

             
               // description = row2.description;
                //theLeaveType = row2.leaveType;
                //startDate = row2.startDate;
               // endDate = row2.endDate;
                //shortStartDate = startDate.ToString("dd-MMMM-yyyy");
                //shortEndDate = endDate.ToString("dd-MMMM-yyyy");
                //inttotalDays = row2.totalDays;
                //requestStatus = row2.requestStatus;
                
                
               
            //}

                
               
                 <fieldset>
                <legend>Your Leave Requests</legend>
                <table border="1" width="100%"> 
                
                <tr class="heading">
                <th>Description</th> 
                <th>Leave Type</th> 
                <th>Start Date</th> 
                <th>End Date</th> 
                <th>Total days leave requested</th> 
                <th>Request Status</th> 
                </tr>
                    
               @foreach(var rows2 in rows1){
                   
      
                   
                <tr class="@rows2.requestStatus" >
                
                <td>@rows2.description</td>
                <td>@rows2.leaveType</td> 
                <td>@rows2.startDate.ToString("dd-MMMM-yyyy")</td> 
                <td>@rows2.endDate.ToString("dd-MMMM-yyyy")</td> 
                <td>@rows2.totalDays</td> 
                <td>@rows2.requestStatus</td> 
                </tr>
                  }  
                </table>

                </fieldset>

               
           
         

                
               

            
           

    }
    else if(Roles.IsUserInRole(WebSecurity.CurrentUserName, "Administrator"))
    
    
     {
            <p style="position: absolute;top: 50px;right: 270px;"  > Logged in as:<b>@theUserName</b> </p> 



                <div id='cssmenu'>
                    <ul>
                         <li class='active'><a href="@Href("~/Home")"><span>Home</span></a></li>
                         <li class='active'><a href="@Href("~/Admin/Register")"><span>Add User</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/staffList")"><span>Staff List</span></a></li>
                         <li class='active'><a href="@Href("~/Admin/ManageRoles")"><span>Manage Roles</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/calendar")"><span>View Calendar</span></a></li>
                         <li class='active'><a href="@Href("~/Admin/allTasks")"><span>All Tasks</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/ShowGraph")"><span>View Graph</span></a></li>
                         <li><a href="@Href("~/Logout")"><span>Logout</span></a></li>
                        
                     </ul>
                    </div>
                    <br>
               
            
    }

        else if(Roles.IsUserInRole(WebSecurity.CurrentUserName, "Manager"))
    
    
     {

         <p style="position: absolute;top: 50px;right: 270px;"  > Logged in as:<b>@theUserName</b> </p> 


                <div id='cssmenu'>
                    <ul>
                         <li class='active'><a href="@Href("~/Home")"><span>Home</span></a></li>
                         <li class='active'><a href="@Href("~/requestform")"><span>Leave Request</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/staffList")"><span>Staff List</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/calendar")"><span>View Calendar</span></a></li>
                         <li class='active'><a href="@Href("~/Managers/tasks")"><span>Current Tasks</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/ShowGraph")"><span>View Graph</span></a></li>
                         <li><a href="@Href("~/Logout")"><span>Logout</span></a></li>
                        
                     </ul>
                    </div>
                    <br>
                    <p>You have<b style="font-size: x-large"> @annualLeaveDays</b>     annual leave days available</p>
    
           
            

                    var db = Database.Open("Annual Leave System");

                //var dbCommand2 = "SELECT * FROM LeaveRequests WHERE email = @0 ORDER BY requestStatus DESC";
                var dbCommand2 ="SELECT *, CASE requestStatus WHEN 'pending' THEN 0 WHEN 'approved' THEN 1 WHEN 'rejected' THEN 2 END  AS requestStatusOrder FROM LeaveRequests WHERE email = @0 ORDER BY requestStatusOrder";
                var rows1 = db.Query(dbCommand2, theUserName);

                 
                

              // if(row2 != null) {

             
               // description = row2.description;
                //theLeaveType = row2.leaveType;
                //startDate = row2.startDate;
               // endDate = row2.endDate;
                //shortStartDate = startDate.ToString("dd-MMMM-yyyy");
                //shortEndDate = endDate.ToString("dd-MMMM-yyyy");
                //inttotalDays = row2.totalDays;
                //requestStatus = row2.requestStatus;
                
                
               
            //}

                
               
                <fieldset>
                <legend>Your Leave Requests</legend>
                <table border="1" width="100%"> 
                
                <tr >
                <th>Description</th> 
                <th>Leave Type</th> 
                <th>Start Date</th> 
                <th>End Date</th> 
                <th>Total days leave requested</th> 
                <th>Request Status</th> 
                </tr>
                    
               @foreach(var rows2 in rows1){
               
                <tr class="@rows2.requestStatus" >
                
                <td>@rows2.description</td>
                <td>@rows2.leaveType</td> 
                <td>@rows2.startDate.ToString("dd-MMMM-yyyy")</td> 
                <td>@rows2.endDate.ToString("dd-MMMM-yyyy")</td> 
                <td>@rows2.totalDays</td> 
                <td>@rows2.requestStatus</td> 
                </tr>
                  }  
                </table>

                </fieldset>

               
           




              
            
    }else{
        
        <p><a href="@Href("~/Login")">Please log in</a></p>
    }
       
