@{
    
    <!-- This is validation for the html form to make sure the user enters data into all the revelant fields when submitting the form-->

    Validation.RequireField("email", "Please enter your email address");
    Validation.RequireField("password", "Please enter your password");
   


    <!-- create variables to store the html form input values and intialise these variables to emptpy value-->
    
    var username = "";
    var password = "";
    var errorMessage = "";
   


    

    <!-- Check if all Fields are set and validated-->

    if(IsPost && Validation.IsValid()){

        <!-- store the values entered by the user on the form into these variables -->

     

        username = Request["email"];
        password = Request["password"];
        if(WebSecurity.Login(username,password,true)){
            Response.Redirect("~/index");
        }
        else
        {
            errorMessage = "Login was not successful.";
        }
        
  

   
                               
        
        
    }

    }


<!DOCTYPE html> <!-- This is the doctype for html 5 , the doctype for html 4 is different and is a choice of 3 ---->
<html>
<head>
<meta charset="utf-8" />
<title>Add a User </title>

    <!-- CSS styling for the webpage external style sheets used-->

    <link rel="stylesheet" type="text/css" href="~/Styles/validation.css">

</head>
<body>
  <h1>Login</h1>

    <!-- this may be used as a summary " @Html.ValidationSummary()""-->

    <!-- html form -->

  <form method="post">
    <fieldset>
      <legend>Login to the system</legend>
      <p><label for="email">Email Address:</label>
         <input type="text" name="email" value="@Request.Form["email"]" />  <!-- the Request.Form  method stores the value enter by the user-->
          @Html.ValidationMessage("email")
          
      </p>

      <p><label for="password">Password</label>:</label>
         <input type="password" name="password" value="@Request.Form["password"]" />
          @Html.ValidationMessage("password")   <!-- the html.validationMessage method displays a message to the user if they have entered the wrong data or not entered data into required fields-->
      </p>

       

      <p><input type="submit" name="btnSubmit" value="Submit" /></p>
    </fieldset>
  </form>


        <p>
            @if(errorMessage != ""){
                <span class="errorMessage">@errorMessage</span>
            }
        </p>

</body>
</html>