@{
    
Layout = "~/_Layout.cshtml";
    
}



        
        <p><a href="@Href("~/calendar")">View Calendar</a></p>
        <p><a href="@Href("~/requestform")">Request Leave</a></p>
        <p><a href="@Href("~/Register")">Register</a></p>
        <p><a href="@Href("~/tasks")">Tasks</a></p>
        <p><a href="@Href("~/Logout")">Logout</a></p>
        
  