@{

    Layout = "~/_Layout.cshtml";
    Page.Title = "Process Request";       

    var firstName = "";
    var lastName = "";
    var description = "";
    //DateTime startDate= "2/2/14 12:00:09" ;
    //var varStartDate="";
    DateTime endDate = DateTime.Now  ;
    var vartotalDays= "";
    int inttotalDays=0;
    int totalLeaveDays= 0;
    var requestStatus = "";
    int updatedLeaveDays = 0;
    var ID = "";
    var email="";
    


   ///// <p><label for="requestStatus">Request Status:</label>
   //////      <input type="text" name="requestStatus" value="@requestStatus" /></p>



   ////// remember to updated registor form to include email address in leave request tables------------------------------




    


    if(!IsPost){
        if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
            ID = Request.QueryString["ID"];
            var db = Database.Open("Annual Leave System");
            var dbCommand = "SELECT * FROM LeaveRequests WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, ID);

            //////////////////////////////////////////////////



            ///////////////////////////////////////////////////

            

            

            if(row != null) {
               
                firstName = row.firstName;
                lastName = row.lastName;
                description = row.description;
               // startDate = row.startDate;
                
                endDate = row.endDate;
                inttotalDays = row.totalDays;
                requestStatus = row.requestStatus;
                email = row.email;
                
               
            }
            else{
                Validation.AddFormError("No Request was selected.");
            }
        }
        else{
            Validation.AddFormError("No Request was selected.");
        }
    }

     

    if(IsPost){
        
        //Validation.RequireField("firstName", "Please enter a first name");
        //Validation.RequireField("lastName", "Please enter a first name");
        //Validation.RequireField("email", "You must enter an email address");
        //Validation.RequireField("UserID", "No User ID was submitted!");

        
        firstName = Request.Form["firstName"];
        lastName = Request.Form["lastName"];
        description = Request.Form["description"];
        //varStartDate = Request.Form["sdate"];

        
        //startDate = varStartDate.AsDateTime();
        //endDate = Request.Form["edate"];
        //totalDays = Request.Form["totalDays"];
        requestStatus = Request.Form["requestStatus"];
        vartotalDays = Request.Form["totaldays"];
        inttotalDays = vartotalDays.AsInt();
        
        ID = Request.Form["ID"];

       

        if(Validation.IsValid()){
            var db = Database.Open("Annual Leave System");
            var updateCommand = "UPDATE LeaveRequests SET requestStatus =@0, totalDays =@1 WHERE ID =@2";
            db.Execute(updateCommand,requestStatus, inttotalDays, ID);
            //Response.Redirect("~/tasks");


            //////////////////////send notifcation email////////////////////////////////
            ///////////////////////////////////////////////////////////////////////////


            //Update employees annual leave days if request is approved
           
            ///////////////////

            //var db = Database.Open("Annual Leave System");
            var dbCommand2 = "SELECT * FROM LeaveRequests WHERE ID = @0";
            var row2 = db.QuerySingle(dbCommand2, ID);
            email = row2.email;

            /////////////////

            /////////////

            var dbCommand3 = "SELECT * FROM LeaveRequests WHERE ID = @0";
            var row3 = db.QuerySingle(dbCommand3, ID);
            inttotalDays = row3.totaldays;


            var dbCommand4 = "SELECT * FROM UserProfile WHERE email = @0";
            var row4 = db.QuerySingle(dbCommand4, email);
            totalLeaveDays = row4.annualLeavedays;



            //////////////
           
            if(requestStatus =="Approved"){
               //totalLeaveDays = 20;
               

               updatedLeaveDays = totalLeaveDays - inttotalDays;

              

            //var db = Database.Open("Annual Leave System");
            var updateCommand2 = "UPDATE UserProfile SET annualLeaveDays =@0 WHERE email =@1";
            db.Execute(updateCommand2,updatedLeaveDays, email);
            Response.Redirect("~/tasks");

            }

            Response.Redirect("~/tasks");


            ////////////////close database////////////////////////////
                

            
            
           
        }
    }


}



  <h2>Process Leave Request</h2>
    @Html.ValidationSummary()
  <form method="post">
    <fieldset>
      <legend>Leave Request Details</legend>

      <p><label for="firstName">First Name:</label>
         <input type="text" name="firstName" value="@firstName" /></p>

        <p><label for="lastName">Last Name:</label>
         <input type="text" name="lastName" value="@lastName" /></p>

        <p><label for="description">Description:</label>
         <input type="text" name="description" value="@description" /></p>


        <p><label for="start date">Start Date:</label>
         <input type="date" name="sdate" value="@Request.Form["sdate"]" />
          
      </p>

      <p><label for="end date">End Date:</label>
         <input type="datetime" name="edate" value="@endDate" />
         
      </p>

        <p><label for="totalDays">Leave Days Requested:</label>
         <input type="text" name="totalDays" value="@inttotalDays" /></p>


        <p>
            <label for="end date">Request Status:</label>
            <select name="requestStatus">
            <option value="@requestStatus">@requestStatus</option>
             <option value="Approved">Approved</option>
             <option value="Rejected">Rejected</option>
            </select> 
        </p>

      <input type="hidden" name="ID" value="@ID" />

      <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
  </form>

    <br/>
    <a href="@Href("~/Logout")">Log out</a>
    <br/>
    <a href="@Href("~/Home")">Home</a>
    <br/>
    updated leave days : @updatedLeaveDays
    <br/>
    @inttotalDays
<br>
@endDate


    


