@{
  var firstName="";
  var lastName="";
  var username = "";
  var password = "";
  var confirmPassword = "";
  var errorMessage = "";
  
  if(!IsPost){
    if(WebSecurity.IsAuthenticated){
      errorMessage = String.Format("You are already logged in. (User name: {0})", WebSecurity.CurrentUserName);
    }
  }
   
  if(IsPost){
    WebSecurity.Logout();
      
    firstName = Request["firstName"];
    lastName = Request["lastName"];
    username = Request["username"];
    password = Request["password"];
    confirmPassword = Request["confirmPassword"];
 
    if(password != confirmPassword){
      errorMessage = "Passwords don't match.";
    }
    else {
      if(WebSecurity.UserExists(username)){
        errorMessage = String.Format("User '{0}' already exists.", username);
      }
      else{
        WebSecurity.CreateUserAndAccount(username,password,null,false);
        errorMessage = String.Format("{0} created.", username);

        //////////
         
         var db = Database.Open("Annual Leave System");
         var updateCommand = "UPDATE UserProfile SET firstName=@0,lastName=@1  WHERE email =@2";
         db.Execute(updateCommand,firstName,lastName, username);
         Response.Redirect("~/staffList");


        ///////////



      }
    }
  }
}
 
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="@Href("~/")Validation.css" type="text/css" />
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="post">
      <p>
        @if(errorMessage != ""){
            <span class="errorMessage">@Html.Raw(errorMessage)</span>
        }
      </p>

        <p>
        <label for="firstName">First Name:</label><br/>
        <input type="text" name="firstName" id="firstName" value='@Request["firstName"]' />
      </p>

        <p>
        <label for="lastName">Last Name:</label><br/>
        <input type="text" name="lastName" id="lastName" value='@Request["lastName"]' />
      </p>
 
      <p>
        <label for="username">Username (email):</label><br/>
        <input type="text" name="username" id="username" value='@Request["username"]' />
      </p>
      <p>
        <label for="password">Password:</label><br/>
        <input type="password" name="password" id="password" value="" />
      </p>   
      <p>
        <label for="confirmPassword">Confirm password:</label><br/>
        <input type="password" name="confirmPassword" id="confirmPassword" value="" />
      </p>   
 
      <p>
        <input type="submit" value="Submit" />
      </p>   
      <p>
        <a href="@Href("~/Logout")">Log out</a>
        <br/>
        <a href="@Href("~/Home")">Home</a>
        </p>
      </form>

      @username
    </body>
</html>