@{

    Layout = "~/_Layout.cshtml";
  Page.Title = "Add New User";      

  var firstName="";
  var lastName="";
  var fullName= firstName +" "+lastName;
  var username = "";
  var lineManager="";
  var varAnnualLeaveDays="";
  int intAnnualLeaveDays=0;
  var password = "";
  var confirmPassword = "";
  var errorMessage = "";
  
  if(!IsPost){
    if(WebSecurity.IsAuthenticated){
      errorMessage = String.Format("You are already logged in. (User name: {0})", WebSecurity.CurrentUserName);
    }
  }
   
  if(IsPost){
    //WebSecurity.Logout();
      
    firstName = Request["firstName"];
    lastName = Request["lastName"];
    username = Request["username"];
    lineManager = Request["lineManager"];
    varAnnualLeaveDays = Request["annualLeaveDays"];
    intAnnualLeaveDays = varAnnualLeaveDays.AsInt();
    password = Request["password"];
    confirmPassword = Request["confirmPassword"];
 
    if(password != confirmPassword){
      errorMessage = "Passwords don't match.";
    }
    else {
      if(WebSecurity.UserExists(username)){
        errorMessage = String.Format("User '{0}' already exists.", username);
      }
      else{
        WebSecurity.CreateUserAndAccount(username,password,null,false);
        errorMessage = String.Format("{0} created.", username);

        //////////
         
        // var db = Database.Open("Annual Leave System");
         //var updateCommand = "UPDATE UserProfile SET firstName=@0,lastName=@1  WHERE email =@2";
         //db.Execute(updateCommand,firstName,lastName, username);
         //Response.Redirect("~/admin_and_Managers/staffList");

         var db = Database.Open("Annual Leave System");
         var updateCommand = "UPDATE UserProfile SET firstName=@0,lastName=@1, LineManager=@2, annualLeaveDays=@3,fullName WHERE email =@4";
         db.Execute(updateCommand,firstName,lastName,lineManager,intAnnualLeaveDays,fullName,username);
         Response.Redirect("~/Admin/ManageRoles");


        ///////////



      }
    }
  }
}
 
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="@Href("~/")Validation.css" type="text/css" />
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Register a new User</h1>
    <form method="post">
      <p>
        @if(errorMessage != ""){
            <span class="errorMessage">@Html.Raw(errorMessage)</span>
        }
      </p>

        <p>
        <label for="firstName">First Name:</label><br/>
        <input type="text" name="firstName" id="firstName" value='@Request["firstName"]' />
      </p>

        <p>
        <label for="lastName">Last Name:</label><br/>
        <input type="text" name="lastName" id="lastName" value='@Request["lastName"]' />
      </p>
 
      <p>
        <label for="username">Username (email):</label><br/>
        <input type="text" name="username" id="username" value='@Request["username"]' />
      </p>
        <p>
        <label for="lineManager">Line Manager:</label></br>
        <input type="text" name="lineManager" id="lineManager" value='@Request["lineManager"]' />
         @Html.ValidationMessage("lineManager")
      </p>
        <p>
        <label for="annualLeaveDays">Annual Leave Days:</label></br>
        <input type="number" name="annualLeaveDays" id="annualLeaveDays" value='@Request["annualLeaveDays"]' />
         @Html.ValidationMessage("annualLeaveDays")
      </p>


      <p>
        <label for="password">Password:</label><br/>
        <input type="password" name="password" id="password" value="" />
      </p>   
      <p>
        <label for="confirmPassword">Confirm password:</label><br/>
        <input type="password" name="confirmPassword" id="confirmPassword" value="" />
      </p>   
 
      <p>
        <input type="submit" value="Submit" />
      </p>   
      <p>
        <a href="@Href("~/Logout")">Log out</a>
        <br/>
        <a href="@Href("~/Home")">Home</a>
        </p>
      </form>

      @username
    </body>
</html>