@{
    
 Layout = "~/_Layout.cshtml";
 Page.Title = "Visual Graph";   
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

         <h1>Employee Annual Leave Days</h1>

        @if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Manager")){
     
        
                   <div id='cssmenu'>
                    <ul>
                         <li class='active'><a href="@Href("~/Home")"><span>Home</span></a></li>
                         <li class='active'><a href="@Href("~/requestform")"><span>Leave Request</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/staffList")"><span>Staff List</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/calendar")"><span>View Calendar</span></a></li>
                         <li class='active'><a href="@Href("~/Managers/tasks")"><span>Current Tasks</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/ShowGraph")"><span>View Graph</span></a></li>
                         <li><a href="@Href("~/Logout")"><span>Logout</span></a></li>
                        
                     </ul>
                    </div>
                    <br>

 }else if(Roles.IsUserInRole(WebSecurity.CurrentUserName, "Administrator")){
     
     <div id='cssmenu'>
                    <ul>
                         <li class='active'><a href="@Href("~/Home")"><span>Home</span></a></li>
                         <li class='active'><a href="@Href("~/Admin/Register")"><span>Add User</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/staffList")"><span>Staff List</span></a></li>
                         <li class='active'><a href="@Href("~/Admin/ManageRoles")"><span>Manage Roles</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/calendar")"><span>View Calendar</span></a></li>
                         <li class='active'><a href="@Href("~/Admin/allTasks")"><span>All Tasks</span></a></li>
                         <li class='active'><a href="@Href("~/admin_and_Managers/ShowGraph")"><span>View Graph</span></a></li>
                         <li><a href="@Href("~/Logout")"><span>Logout</span></a></li>
                        
                     </ul>
                    </div>
                    <br>
 }
    
    <p><img src="MakeGraph.cshtml" /> </p>

   
        
    </body>
</html>
